/* ================================================================= */
/* ==================         Blog Start          ================== */
/* ================================================================= */

.blog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog .container {}

.blog h2 {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.blog p {
  margin: .75rem auto;
  width: 100%;
  max-width: 623px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;  
  color: var(--grey100);
}

.blog section {
  margin-top: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog section article {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.6875rem;
  row-gap: 5rem;
}

.blog section article .card {}

.blog section article .card figure {}

.blog section article .card figure img {
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.blog section article .card figure img:hover {
  transform: scale(1.05);
}

.blog section article .card time {
  margin-top: 1.5rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.5rem;
  color: var(--secondary);
}

.blog section article .card h4 {
  margin-top: .75rem;
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--primary);
}

.blog section article .card p {
  margin-top: .75rem;
  width: 100%;
  max-width: 395px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  color: var(--grey100);
  text-align: left;
}

.blog section article .card button {
  margin-top: 1.5rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--secondary);
  padding: 3.5px 24px;
  background: var(--grey10);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.blog section article .card button:hover {
  color: var(--light);
  background: var(--success);
  border: 1px solid transparent;
}

.blog section button {
  margin-top: 4rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--light);
  padding: 12px 57px;
  background: var(--secondary);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}

.blog section button:hover {
  background: var(--success);
}

@media (min-width: 816px) and (max-width: 1245px) {
  .blog section article .card:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .blog .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .blog section article {
    width: 100%;
    max-width: 768px;
    column-gap: 1.6875rem;
    row-gap: 5rem;
  }

  .blog section article .card figure {
    border-radius: 20px;
  }

  .blog section article .card {
    display: block;
    width: 100%;
    max-width: 327px;
  }
}

/* ================================================================= */
/* ==================          Blog End           ================== */
/* ================================================================= */