/*! ================================================================= */
/*! ================         Header Start          ================== */
/*! ================================================================= */

header {}
#header {}
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../img/hero-img.png) no-repeat bottom center;
  height: 705px;
}

.header .container {
  margin: 0 auto;
  max-width: 1240px;
}

/* navbar start */
.header .container .navbar {
  padding-top: 2.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.header .container .navbar .logo {}
.header .container .navbar .logo img {}

/* links */
.header .container .navbar .nav-menu{
  width: 544px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header .container .navbar .nav-item{}
.header .container .navbar .nav-link{
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--grey100);
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.header .container .navbar .nav-link:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

/* contact button */
.header .container .navbar .contact-btn {
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--primary);
  padding: 12px 16px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.header .container .navbar .contact-btn:hover {
  color: var(--grey10);
  border: 1px solid transparent;
  background: var(--success);
}

/* mobil hamburger menu */
.header .container .navbar .hamburger-btn{
  display: none;
  cursor: pointer;
}

.header .container .navbar .hamburger-btn .bi-list {
  display: none;
  width: 32px;
  height: 32px;
  background: var(--light);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .navbar .hamburger-btn:hover .bi-list {
  background: var(--success);
  color: var(--light);
}

.navbar-mobil {
  display: none;
}

@media (max-width: 890px) {
  .navbar-mobil {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    background: var(--secondary);
    text-align: center;
    z-index: 99;
  }
  
  .navbar-mobil__exit {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    color: #FFFFFF;
    font-weight: 700;
  }

  .nav-menu {
    margin-top: 3rem;
  }

  .nav-item {
    margin-bottom: 2.5rem;
  }

  .nav-link{
    font-family: var(--font-jakarta);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.75rem;
    text-align: center;
    color: var(--light);
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
  }
}
/* navbar end */

/* hero start */
.header .container .hero {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .container .hero-title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 3.625rem;
  text-align: center;
  color: var(--primary);
}

.header .container .hero-text {
  margin: 2rem auto;
  width: 100%;
  max-width: 623px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--grey100);
}

.header .container .hero-btn {
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--light);
  padding: 12px 44px;
  background: var(--secondary);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.header .container .hero-btn:hover {
  color: var(--light);
  background: var(--success);
}
/* hero end */

@media (max-width: 1300px) {
  .header .container {
    margin: 0 1.5rem;
  }
}

@media (max-width: 890px) {
  .navbar-mobil__exit {
    cursor: pointer;
  }
  
  .header .container {
    margin: 0 30px;
  }

  .header .container .navbar .nav-menu,
  .header .container .navbar .contact-btn {
    display: none;
  }

  .header .container .navbar .hamburger-btn {
    display: block;
  }

  .header .container .hero {
    /* margin-top: 90px !important; */
  }

  .hero-title {
    font-size: 32px !important;
    line-height: 37px !important;
  }
}

/*! ================================================================= */
/*! ================          Header End           ================== */
/*! ================================================================= */





/* ================================================================= */
/* ================        About US Start         ================== */
/* ================================================================= */

.about__card {
  margin-top: 6.25rem;
}

.about__card .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.75rem;
}

/* about img start */
.about__card .container .about__img {}

.about__card .container .about__img img {
  width: 100%;
  min-width: 300px;
  object-fit: cover;
  background-size: cover;
}
/* about img end */

/* about info start */
.about__card .container .about__info {}

.about__card .container .about__info .about__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  color: var(--primary);
}

.about__card .container .about__info .about__text {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 502px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  color: var(--grey100);
}
/* about info end */

@media (max-width: 1110px) {
  .about__card .container {
    gap: 2rem;
  }
}

@media (max-width: 904px) {
  .about__card .container {
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* ================================================================= */
/* ================         About US End          ================== */
/* ================================================================= */



/*! ================================================================= */
/*! ================      Our Service Start        ================== */
/*! ================================================================= */

.our-service {
  margin-top: 6.25rem;
}

.our-service .container {}

.our-service .container .our-service__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.our-service .container .our-service__cards {
  margin-top: 3.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6.9375rem;
}

.our-service .container .our-service__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* icon start */
.our-service .container .our-service__cards .card .card__icon {}

.our-service .container .our-service__cards .card .card__icon img {
  padding: 24px;
  background: var(--secondary);
  border-radius: 100%;
}
/* icon end */

.our-service .container .our-service__cards .card .card__title {
  margin-top: 1.5rem;
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--primary);
}

.our-service .container .our-service__cards .card .card__content {
  margin-top: .75rem;
  width: 296px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;  
  color: var(--grey100);
}

@media (max-width: 768px) {
  .our-service .container .our-service__cards {
    gap: 2.5rem;
  }
}

/*! ================================================================= */
/*! ================       Our Service End         ================== */
/*! ================================================================= */


/* ================================================================= */
/* ================     Recent Project Start      ================== */
/* ================================================================= */

.recent-project {
  margin-top: 6.25rem;
}

.recent-project .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-project .container .recent-project__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.recent-project .container .recent-project__content  {
  margin-top: 1rem;
  width: 100%;
  max-width: 623px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: var(--grey100);
}

.recent-project .container .recent-project__album {
  margin-top: 2.5rem;
  display: grid;
  grid-template-areas: 
  "rpi1 rpi3 rpi4"
  "rpi2 rpi3 rpi5";
  gap: 1.5rem;
}

#rpi1 { grid-area: rpi1; }
#rpi2 { grid-area: rpi2; }
#rpi3 { grid-area: rpi3; }
#rpi4 { grid-area: rpi4; }
#rpi5 { grid-area: rpi5; }

@media (max-width: 1200px) {
  .recent-project .container .recent-project__album {
    grid-template-areas: 
    "rpi1 rpi3"
    "rpi2 rpi3"
    "rpi4 rpi5";
    gap: 1.5rem;
  }

  #rpi4 {
    width: 100%;
  }
  #rpi5 {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .recent-project .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .recent-project .container .recent-project__album {
    grid-template-areas: 
    "rpi1"
    "rpi2"
    "rpi3"
    "rpi4"
    "rpi5";
    gap: 1.5rem;
  }

  #rpi1,
  #rpi2,
  #rpi3,
  #rpi4,
  #rpi5 {
    width: 100%;
  }
}

/* ================================================================= */
/* ================      Recent Project End       ================== */
/* ================================================================= */


/*! ================================================================= */
/*! ================    Get More Updates Start     ================== */
/*! ================================================================= */

.get-more-updates {
  margin-top: 6.25rem;
  background: var(--grey10);
}

.get-more-updates .container {
  padding-top: 69px;
  padding-bottom: 69px;
}

.get-more-updates .container .get-more-updates__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.get-more-updates .container .get-more-updates__content {
  margin: .75rem auto;
  width: 100%;
  max-width: 623px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;  
  color: var(--grey100);
}

.get-more-updates .container .get-more-updates__card-group {
  margin-top: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-more-updates .container .get-more-updates__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6875rem;
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card {}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__img {
  border-radius: 20px;
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__date {
  margin-top: 1.5rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.5rem;
  color: var(--secondary);
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__title {
  margin-top: .75rem;
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: var(--primary);
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__content {
  margin-top: .75rem;
  width: 100%;
  max-width: 395px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  color: var(--grey100);
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__btn {
  margin-top: 1.5rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--secondary);
  padding: 3.5px 24px;
  background: var(--grey10);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.get-more-updates .container .get-more-updates__cards .get-more-updates__card__btn:hover {
  color: var(--light);
  background: var(--success);
  border: 1px solid transparent;
}

.get-more-updates .container .get-more-updates__btn-all {
  margin-top: 4rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--light);
  padding: 12px 57px;
  background: var(--secondary);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border: none;
}

.get-more-updates .container .get-more-updates__btn-all:hover {
  background: var(--success);
}

@media (min-width: 816px) and (max-width: 1245px) {
  .get-more-updates .container .get-more-updates__card:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .get-more-updates .container {
    margin-left: 24px;
    margin-right: 24px;
  }

  .get-more-updates .container .get-more-updates__cards .get-more-updates__card {
    width: 100%;
    max-width: 327px;
  }

  .get-more-updates .container .get-more-updates__cards {
    flex-direction: column;
    gap: 1.6875rem;
  }

  .get-more-updates .container .get-more-updates__card {
    display: block;
  }
}

/*! ================================================================= */
/*! ================     Get More Updates End      ================== */
/*! ================================================================= */



/* ================================================================= */
/* =============     Our Customers Review Start      =============== */
/* ================================================================= */

.customers {
  margin-top: 6.25rem;
}

.customers .container {}

.customers__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.customers__content {
  margin: .75rem auto;
  width: 100%;
  max-width: 623px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;  
  color: var(--grey100);
}

.customers__main {
  margin: 4.125rem auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

/* left */
.customers__main__left {}

.customers__main__person {
  width: 290px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border-radius: 16px;
  padding-left: 18px;
}

.customers__main__person:hover {
  background: var(--grey10);
}

.customers__main__avatar {}

.customers__main__info {}

.customers__main__info__name {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}

.customers__main__info__job {
  margin-top: .1875rem;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  color: var(--grey100);
}

/* center */
.customers__main__center {}

.customers__main__center__title {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--primary);
}

.customers__main__center__stars {
  margin-top: 1rem;
  color: var(--yellow);
}

.customers__main__center__content {
  margin-top: 1rem;
  width: 100%;
  max-width: 432px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--grey100);
}

/* right */
.customers__main__right {
  border-radius: 24px;
}

.customers__main__center__img {
  border-radius: 24px;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .customers__main {
    flex-wrap: wrap;
  }

  .customers__main__right {
    text-align: center;
    width: 100%;
    max-width: 750px;
  }
  
  .customers__main__center__img {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 790px) {
  .customers .container {
    margin-left: 24px;
    margin-right: 24px;
  }
}


/* ================================================================= */
/* ==============     Our Customers Review End      ================ */
/* ================================================================= */


/*! ================================================================= */
/*! ==============         Consultation Start        ================ */
/*! ================================================================= */

.consultation {
  margin: 100px auto;
  width: 100%;
  max-width: 988px;
  padding: 54px 106px;
  background: var(--grey10);
  border-radius: 32px;
}

.consultation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultation__title {
  width: 100%;
  max-width: 404px;
  font-family: var(--primary);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.875rem;
  text-align: center;
  color: var(--primary);
}

.consultation__form {
  margin: 40px auto;
  width: 100%;
  max-width: 776px;
  display: grid;
  place-items: flex-start;
  align-items: center;
  grid-template-areas: 
  "name email"
  "textarea textarea"
  "btn btn";
  gap: 2rem;
}

.consultation__form__name { grid-area: name; }
.consultation__form__email { grid-area: email; }
.consultation__form__textarea { grid-area: textarea; }
.consultation__form__form-btn { grid-area: btn; }

.consultation__form__name,
.consultation__form__email,
.consultation__form__message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.consultation__form__input:focus,
.consultation__form__textarea:focus {
  background: var(--secondary);
  color: var(--light);
  outline: none;
}

.consultation__form__form-btn {
  margin: 0 auto;
  width: 166px;
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.75rem;
  text-align: center;
  color: var(--light);
  padding: 12px 64px;
  background: var(--secondary);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.consultation__form__form-btn:hover {
  background: var(--success);
  outline: none;
}

.consultation__form__label {
  font-family: var(--font-yeseva);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  text-align: center;
  color: var(--primary);
}

.consultation__form__input {
  width: 100vw;
  max-width: 372px;
  height: 49px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  text-indent: 21px;
}

.consultation__form__input::placeholder,
.consultation__form__textarea::placeholder {
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.5rem;
  color: var(--grey50);
  padding: 12px auto;
  text-indent: 21px;
}

.consultation__form__textarea {
  width: 776px;
  height: 135px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  text-indent: 21px;
  padding-top: 13px;
  resize: none;
}


@media (max-width: 1000px) {
  .consultation__form {
    place-items: flex-start;
    grid-template-areas: 
    "name"
    "email"
    "textarea"
    "btn";
    gap: 2rem;
  }

  .consultation__form__input {
    width: 100vw;
    max-width: 776px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    text-indent: 21px;
  }
}

@media (max-width: 600px) {
  .consultation {
    padding: 54px 24px;
  }


/*! ================================================================= */
/*! ==============          Consultation End         ================ */
/*! ================================================================= */